@font-face {
  font-family: "BR-Regular";
  src: local("BRSonoma-Regular"), url("./fonts/BRSonoma-Regular.otf") format("truetype");
}

@font-face {
  font-family: "BR-Black";
  src: local("BRSonoma-Black"), url("./fonts/BRSonoma-Black.otf") format("truetype");
}

@font-face {
  font-family: "BR-BlackItalic";
  src: local("BRSonoma-BlackItalic"), url("./fonts/BRSonoma-BlackItalic.otf") format("truetype");
}

@font-face {
  font-family: "BR-Bold";
  src: local("BRSonoma-Bold"), url("./fonts/BRSonoma-Bold.otf") format("truetype");
}

@font-face {
  font-family: "BR-Medium";
  src: local("BRSonoma-Medium"), url("./fonts/BRSonoma-Medium.otf") format("truetype");
}